@mixin animate($animation,$duration,$method,$times, $times2, $type, $style){
    animation: $animation $duration $method $times $times2 $type $style;
}

@mixin keyframes($name){
    @keyframes #{$name}{
        @content;
    }
}

@mixin media( $size: 1300px){
    @media screen and (max-width: $size){
        @content
    }
}

@font-face {
    font-family: "Hahmlet Black";
    src: url("./assets/fonts/Hahmlet-Black.ttf");
}

@font-face {
    font-family: "Hahmlet Regular";
    src: url("./assets/fonts/Hahmlet-Regular.ttf");
}

@font-face {
    font-family: "Hahmlet SemiBold";
    src: url("./assets/fonts/Hahmlet-SemiBold.ttf");
}

@font-face {
    font-family: "Recoleta Regular";
    src: url("./assets/fonts/Recoleta-Regular.otf");
}


*::selection {
    background: rgb(248, 183, 232);
}

html, body{
    overflow-x: hidden;

    

    div.app {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100vh; 
        box-sizing: border-box;
        overflow-x: hidden;
        
        
        h1{
            justify-self: start;
            font-family: "Hahmlet Black", Arial, Helvetica, sans-serif;
            font-size: 5.2rem;
            text-align: center;
            padding: 8px 0;
            width: fit-content;

            @include media(){
                font-size: 3rem;
                padding: 10px 0;
            }
        }
        
        h2{
            font-family: "Hahmlet Regular", Arial, Helvetica, sans-serif;
            text-align: center;
            font-size: 0.9rem;
            background-color: black;
            color: rgb(233, 233, 159); 
            padding: 8px;
            border-radius: 10px;
            width: 49.4rem;

            @include media(){
                font-size: 0.7rem;
                width: 100%;
                padding: 6px;
            }
          
        }
        
        div.score-container{
            
            display: flex;
            align-items: center;
            justify-content: space-between;

            width: 48rem;
            height: 5rem;
            margin: 10px;
            padding: 20px;
            background-color: white;
            border-radius: 20px;
            box-shadow: inset 0 0 0 13px black;
            font-size: 2rem;
            font-family: "Hahmlet SemiBold", Arial, Helvetica, sans-serif;
            
            h3{
                padding: 10px;
            }

           @include media(){
                
                width: 20rem;
                height: 3rem;
                font-size: 0.8rem;
                margin: 10px;
                padding: 10px;
                box-shadow: inset 0 0 0 8px black;
           }
        }
    
        div.positive{
            @include animate(color, 2s, ease, _, _, _, _);
            

        @include keyframes(color) {
            to {
                background-color: blue;	
            }
        }
        }
    
        div.panel-container{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-grow: 1;
            width: 80rem;
            @include media(){
                width: 25rem;
                flex-grow: 2;
            }
            div.panel{
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                grid-template-rows: 1fr;
                gap: 10px; 
                width: 100%;
                height: 20rem;
                @include media(){
                    grid-template-columns: repeat(2, 10rem);
                    grid-template-rows: repeat(3, 12rem);
                    justify-content: center;
                    height: 100%;
                    gap: 5px; 
                }

                div.card-container{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border-radius: 20px;
                    box-shadow: inset 0 0 0 13px black;
                    background-color: white;
                    
                    @include media(){
                        border-radius: 10px;
                        box-shadow: inset 0 0 0 8px black;
                    }
        
                &:hover{
                    @include animate(shake, 2s, ease, 0s, 1, normal, forwards);
                    @include keyframes(shake) {
                        0%,
                        100% {
                            transform: translateX(0%);
                            transform-origin: 50% 50%;
                        }
                
                        15% {
                            transform: translateX(-30px) rotate(-6deg);
                        }
                
                        30% {
                            transform: translateX(15px) rotate(6deg);
                        }
                
                        45% {
                            transform: translateX(-15px) rotate(-3.6deg);
                        }
                
                        60% {
                            transform: translateX(9px) rotate(2.4deg);
                        }
                
                        75% {
                            transform: translateX(-6px) rotate(-1.2deg);
                        }
                    }
                }
        
                div.img-container{
                    padding: 20px;

                    @include media(){
                        padding: 10px; 
                    }
                    img{
                        width: 150px;
                        height: 200px;

                        @include media(){
                            width: 80px;
                            height: 120px;
                        }
                    }
                }
        
                   
                    div.card-name{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 100%;
                        font-size: 1rem;
                        font-family: "Recoleta Regular", Arial, Helvetica, sans-serif;
                        letter-spacing: 1px;
                        border-bottom-left-radius: 20px;
                        border-bottom-right-radius: 20px;
                        color: rgb(248, 183, 232);
                        background-color: black;

                        @include media(){
                            font-size: 0.65rem;
                            
                        }
                    }
                }
            }
        }
        
        
        
        div.celebration-container{
            overflow-x: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            background:rgba(236, 147, 248, 0.397);
            position:absolute;
            min-width: 100vw;
            min-height: 100vh; 
            @include animate(appear, 0.4s, ease, 0s, 1, normal, forwards); 
            @include keyframes(appear){
                0% {
                    opacity: 0.5;
                }

                100% {
                    opacity: 1;
                }
            }

           

            div.celebration{
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-image: linear-gradient(to right,rgb(248, 183, 232),rgb(179, 70, 243));
                margin: 0 auto; 
                height: 20rem;
                width: 70rem;
                border-radius: 8px;
                font-family: "Recoleta Regular", Arial, Helvetica, sans-serif;
                box-shadow:  0 0 20px 5px rgba(0, 0, 0, 0.2);

                @include media(){
                    flex-direction: column;
                    height: 30rem;
                    width: 20rem;
                }

                @include animate(appearBackground, 1s, ease, 0s, 1, normal, forwards); 
                    @include keyframes(appearBackground){
                        0% {
                            opacity: 0;
                        }

                      
                        100% {
                            opacity: 1;
                        }
                    }
                    
               div.celebration-message{
                    display: flex;
                    flex-direction: column;
                    align-items: center;


                    div.celebration-text{
                    color: black;
                    padding: 50px;
                    font-size: 2rem;

                    @include media(){
                        text-align: center;
                    }

                    @include animate(appearText, 1s, ease, 0s, 1, normal, forwards); 
                    @include keyframes(appearText){
                        0% {
                            opacity: 0;
                        }

                        50%{
                            opacity: 0.5;
                        }
        
                        100% {
                            opacity: 1;
                        }
                    }
                    }


                    button{
                        border-radius: 5px;
                        font-size: 1rem;
                        padding: 5px;
                        border: none;
                        background-color: black;
                        color: white;
                        font-family: 'Recoleta Regular', Arial, Helvetica, sans-serif;

                        &:hover{
                            box-shadow:  0 0 20px 5px rgba(0, 0, 0, 0.2);
                        }

                        @include animate(appearButton, 5s, ease, 0s, 1, normal, forwards); 
                        @include keyframes(appearButton){
                        0% {
                            opacity: 0;
                        }
                        

                        100% {
                            opacity: 1;
                        }
                    }
                    }
               }


                div.celebration-images {
                    display: flex;
                    width: 30rem;
                    align-items: flex-end;
                    justify-content: center;
                    gap: 5px;

                    @include media(){
                        padding: 10px 0;
                        width: 100%;
                    }

                    @include animate(appearImage, 1s, ease, 0s, 1, normal, forwards); 
                    @include keyframes(appearImage){
                        0% {
                            opacity: 0;
                        }
        
                        100% {
                            opacity: 1;
                        }
                    }
                    

                    div.image-1{
                        
                        height: 15rem;
                        width: 6rem;

                        @include media(){
                            height: 10rem;
                            width: 4rem;
                        }
    
                        img{
                            -webkit-transform: scaleX(-1);
                            transform: scaleX(-1);
                            width: 100%;
                            height: 100%;
                        }
    
                        
                    }
    
                    div.image-2{
                        height: 15rem;
                        width: 7rem;

                        @include media(){
                            height: 10rem;
                            width: 4.5rem;
                        }
    
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
    
                    div.image-3{
                        height: 10rem;
                        width: 8rem;
    
                        @include media(){
                            height: 7rem;
                            width: 5rem;
                        }
                        img{
                            
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
                
            }
        }
    }
    

    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 1;
        padding: 2px;
        align-self: flex-end;
        background-image: linear-gradient(to right,rgb(248, 183, 232),rgb(179, 70, 243));
        width: 100%;
        height: 25px;
        color: white;
        text-align: center;
        font-family: "Hahmlet Regular", Arial, Helvetica, sans-serif;
        font-size: 0.8rem;

        @include media(){
            font-size: 0.6rem;
            flex-grow: 0;
            flex-shrink: 0;
        }

        a{
            text-decoration: none;
            color: black;
            padding: 0 2px;
            
        }
    }


}


